.c5cl-textInput input {
  padding: 4px 5px;
  border-radius: 8px;
  outline: none;
  width: 100%;
}

.c5cl-textInput .alert-danger {
  background-color: red;
  color: white;
  border-radius: 8px;
  width: 100%;
}
