.c5-date-picker {
  position: relative;
}

.c5-date-picker * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.c5-dp-input {
  width: 150px;
  height: 35px;
  overflow: hidden;
  border-radius: 20px;
}

.c5-dp-input:focus {
  outline: none;
}

.c5-dp-input input {
  width: 125%;
  background: #f5f5f5;
  border: 0;
  outline: none;
  height: 35px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.mdp-container {
  position: absolute;
  left: 0;
  top: 40px;
  width: 300px;
  min-height: 150px;
  background: #fff;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  overflow: hidden;
  padding: 25px 30px;
}

.mdp-head {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.mdp-head-date {
  text-align: center;
}

.mdp-button {
  float: left;
  width: 45px;
  height: 100%;
  box-sizing: border-box;
  position: relative;
}

.mdp-head-button-inner:hover span {
  border-color: #555;
}

.mdp-head-button-inner:hover {
  cursor: pointer;
  background: #eee;
}

.mdp-head-button-inner {
  float: left;
  height: 35px;
  width: 35px;
  background: #f4f4f4;
  border-radius: 100%;
  line-height: 35px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -17px;
  margin-top: -17px;
}

.mdp-head-button-left-arrows:after,
.mdp-head-button-right-arrows:after,
.mdp-head-button-right-arrow,
.mdp-head-button-left-arrow,
.mdp-head-button-left-arrows,
.mdp-head-button-right-arrows {
  display: block;
  float: left;
  width: 6px;
  height: 6px;
  border-left: 2px solid #888;
  border-bottom: 2px solid #888;
  position: absolute;
}

.mdp-head-button-right-arrow,
.mdp-head-button-right-arrows,
.mdp-head-button-left-arrow,
.mdp-head-button-left-arrows {
  transform: rotate(45deg);
  left: 50%;
  top: 50%;
  margin-left: -2px;
  margin-top: -4px;
}

.mdp-head-button-right-arrows,
.mdp-head-button-right-arrow {
  transform: rotate(225deg);
  margin-left: -4px;
}

.mdp-head-button-right-arrows:after,
.mdp-head-button-left-arrows:after {
  content: '';
}

.mdp-head-button-left-arrows {
  margin-left: -5px;
}

.mdp-head-button-right-arrows {
  margin-left: -2px;
}

.mdp-head-button-right-arrows:after,
.mdp-head-button-left-arrows:after {
  left: 3px;
  top: -5px;
}

.cc-month,
.cc-year,
.cch-name,
.cc-body,
.ckc-day span,
.cdc-day,
.c-day-container,
.c-container {
  position: relative;
  display: block;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.cch-name {
  width: 14.285%;
  height: 30px;
  line-height: 30px;
  font-weight: 700;
  color: #666;
  font-size: 14px;
  text-align: center;
}

.c-container {
  width: 100%;
  height: 100%;
}

.cc-head {
  height: 30px;
  width: 100%;
  margin-top: 10px;
}

.cch-name {
  width: 14.285%;
  height: 30px;
  line-height: 30px;
  font-weight: 700;
  color: #666;
  font-size: 9px;
  text-align: center;
}

.cc-body {
  height: 200px;
  width: 100%;
}

.c-day-container {
  width: 14.285%;
  height: 16.6666%;
}

.cdc-day {
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-weight: 300;
  color: #444;
  text-align: center;
}

.cdc-day span {
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-weight: 300;
  color: #444;
}

.cdc-day span:hover {
  cursor: pointer;
  background: #99db6f;
  height: 35px;
  width: 35px;
  padding: 10px;
}

.cdc-day span {
  width: 30px;
  height: 30px;
  margin-top: -15px;
  margin-left: -15px;
  left: 50%;
  top: 50%;
  font-weight: 400;
  border-radius: 100%;
  line-height: 30px;
}

.c-day-container.disabled {
  pointer-events: none;
}

.c-day-container.disabled .cdc-day span {
  color: #ddd;
}

.c-day-container.disabled .cdc-day span {
  background: #fff !important;
}

.c-day-container.highlight .cdc-day span {
  background: #e68b3c;
  padding: 10px;
}

.c-day-container.highlight-green .cdc-day span {
  /* background: #d4e2cb; */
  background: #99db6f;
  padding: 10px;
}
